header {
  /* width: 100%; */
  background: green;
  color: #fff;
  text-align: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #search-n-buy {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  padding-right: 10px;
  background: orange;
} */

#item-shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#catalog-header {
  width: 100%;
}

#item-wrapper {
  display: flex;
  width: 70%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: orange;
}

.items {
  width: 200px;
  margin: 10px;
  background: brown;
}

#quick-buy{
  position: relative;
  top: 0;
}

.header-align {
  text-align: center;
}

aside {
  padding: 10px;
}